.navbar {
  background-color: #4197AB;
}

.center {
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  margin-top: -60px;
}

.portfolio {
  display: grid;
  height: 250px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  overflow: scroll;
  background-color: #D3D3D3;
  border-radius: 7px;
}

.vertical:hover {
  background-color: #007bff;
  opacity: 0.65;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

.vertical: active {
  background-color: #007bff;
}

.verticalSelected {
  background-color: #007bff;
  color: white;
  border-radius: 7px;
  padding-top: 20px;
  display: block;
}

.image {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 50%;
}

.vertical {
  padding-top: 20px;
  display: block;
}

table {
  border-collapse: collapse;
}

table td {
  border-bottom: 0.25px solid grey;
}