* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #D3D3D3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

th {
  padding: 15px;
}

td {
  padding: 15px;
}

tr.top {
  border-bottom: thin solid black;
}